<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>IBM i Countdown</title>
    <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
      integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
      crossorigin="anonymous">
    <link rel="stylesheet" href="css/jquery.countdown.css">
    <link rel="stylesheet" href="css/styles.css">
    </style>
  </head>
  <body>
    <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <img src="img/death-2024663_640.png">
            </div>
            <div class="col-md-10">
              <h1>Support for IBM i v7.1 will end in...</h1>
              <div class="flip-countdown-container">
                <div id="ibmi-71-countdown"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <ul class="nav nav-tabs" id="Tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="WhatToDoTab" data-toggle="tab" href="#WhatToDo" role="tab" aria-controls="WhatToDo" aria-selected="true">What to Do</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="ReasonsTab" data-toggle="tab" href="#Reasons" role="tab" aria-controls="Reasons" aria-selected="false">Reasons to Upgrade</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="MoreReaonsTab" data-toggle="tab" href="#MoreReasons" role="tab" aria-controls="MoreReasons" aria-selected="false">More Reasons</a>
          </li>
        </ul>
        <div class="tab-content" id="TabsContent">
          <div class="tab-pane fade show active" id="WhatToDo" role="tabpanel" aria-labelledby="WhatToDoTab">
            <h3>Don't worry, you can still upgrade to IBM i 7.2 or better yet IBM i 7.3!</h3>
            <ul>
              <li>
                Download a new, supported version of IBM i from the
                <a href="https://www-304.ibm.com/servers/eserver/ess/index.wss" rel="nofollow">IBM ESS website</a>.
              </li>
              <li>
                Check out what's new for IBM i 7.3
                <a href="https://www.ibm.com/support/knowledgecenter/en/ssw_ibm_i_73/db2/rbafzwhatsnew.htm" rel="nofollow">here</a>.
              </li>
              <li>
                Read the
                <a href="https://www.ibm.com/support/knowledgecenter/ko/ssw_ibm_i_73/rzaq9/rzaq9.pdf" rel="nofollow">IBM i 7.3 Memo To Users</a>.
              </li>
              <li>
                Read the official
                <a href="http://www-01.ibm.com/common/ssi/ShowDoc.wss?docURL=/common/ssi/rep_ca/6/877/ENUSZP17-0256/index.html&lang=en&request_locale=en%22">7.1 withdrawal announcement</a>
                from IBM.
              </li>
            </ul>
          </div>
          <div class="tab-pane fade" id="Reasons" role="tabpanel" aria-labelledby="ReasonsTab">
            <h3>Reasons to upgrade from IBM i 7.1</h3>
            <ol>
              <li>
                If you remain on IBM i 7.1, IBM Software Maintenance will cost much more with an added Extended Support
                charge after April 30th, 2018.
              </li>
              <li>
                The IBM HTTP Server that shipped with IBM i 7.1 (Apache 2.2) will go out of support December 31st, 2017.
                This means that IBM i 7.1 will no longer be PCI compliant from a HTTP perspective. IBM HTTP Server has
                been upgraded to Apache 2.4 in IBM i releases 7.2 and 7.3.
              </li>
              <li>
                The default Java version on IBM i 7.1 is version 6. This will be going end of support on December 31st,
                2017 as well. It’s recommended you upgrade to Java 7 or 8 no matter what version of IBM i you have.
                There will be no more fix packs for Java 6.
              </li>
              <li>
                75% of ciphers offered in IBM i 7.1 are not deemed secure. If securing your system is a priority to you,
                consider upgrading to IBM i 7.3, which offers far more secure cipher suites.
              </li>
            </ol>
          </div>
          <div class="tab-pane fade" id="MoreReasons" role="tabpanel" aria-labelledby="MoreReaonsTab">
            <h3>Still not convinced?</h3>
            <p>Read more on the 7.2 and 7.3 Base Enhancements!</p>
            <ul>
              <li><a href="https://www.ibm.com/developerworks/community/wikis/home?lang=en#!/wiki/IBM%20i%20Technology%20Updates/page/IBM%20i%207.2%20-%20Base%20Enhancements">IBM i 7.2 Base Enhancments</a></li>
              <li><a href="https://www.ibm.com/developerworks/community/wikis/home?lang=en#!/wiki/IBM%20i%20Technology%20Updates/page/IBM%20i%207.3%20-%20Base%20Enhancements">IBM i 7.3 Base Enhancements</a></li>
            </ul>
          </div>
        </div>
      </div> <!-- /container -->
    </main>

    <!-- Load Javascript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="js/jquery.plugin.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script type="text/template" id="flip-coundown-template">
      <div class="time <%= label %>">
        <span class="count curr top"><%= curr %></span>
        <span class="count next top"><%= next %></span>
        <span class="count next bottom"><%= next %></span>
        <span class="count curr bottom"><%= curr %></span>
        <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
      </div>
    </script>
    <script>
      $(function () {
        var labels = ['days', 'hours', 'minutes', 'seconds'],
          death = moment("20180430T235959,999").utc().toDate(),
          template = _.template($('#flip-coundown-template').html()),
          currDate = '000:00:00:00',
          nextDate = '000:00:00:00',
          $example = $('#ibmi-71-countdown');
        // Parse countdown string to an object
        function strfobj(str) {
          var parsed = str.split(':'),
            obj = {};
          labels.forEach(function(label, i) {
            obj[label] = parsed[i]
          });
          return obj;
        }
        // Return the time components that diffs
        function diff(obj1, obj2) {
          var diff = [];
          labels.forEach(function(key) {
            if (obj1[key] !== obj2[key]) {
              diff.push(key);
            }
          });
          return diff;
        }
        // Build the layout
        var initData = strfobj(currDate);
        labels.forEach(function(label, i) {
          $example.append(template({
            curr: initData[label],
            next: initData[label],
            label: label
          }));
        });
        // Starts the countdown
        $example.countdown(death, function(event) {
          var newDate = event.strftime('%D:%H:%M:%S'),
            data;
          if (newDate !== nextDate) {
            currDate = nextDate;
            nextDate = newDate;
            // Setup the data
            data = {
              'curr': strfobj(currDate),
              'next': strfobj(nextDate)
            };
            // Apply the new values to each node that changed
            diff(data.curr, data.next).forEach(function(label) {
              var selector = '.%s'.replace(/%s/, label),
                  $node = $example.find(selector);
              // Update the node
              $node.removeClass('flip');
              $node.find('.curr').text(data.curr[label]);
              $node.find('.next').text(data.next[label]);
              // Wait for a repaint to then flip
              _.delay(function($node) {
                $node.addClass('flip');
              }, 50, $node);
            });
          }
        });

        // Make URL update on tab switch
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
          location.hash = e.target.hash;
        });

        // Open tab if hash matches
        $('#Tabs a[href="' + location.hash + '"]').tab('show');
      });
    </script>
  </body>
</html>
